<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <meta name="description" content="A cool thing">
    <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/b49afe73a3.js" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script> -->
  </head>
  <body>
    <div id="main"></div>
  </body>
  <script src="./js/vendor/pixi.min.js"></script>
  <script src="./js/client.js" type="module" defer></script>
</html>
